[user]
	email = tomasz@wisniewski.app
	name = Tomasz Wiśniewski
[init]
	defaultBranch = main
[diff]
	colorMoved = true
	colorMovedWS = allow-indentation-change
[core]
	editor = vim
    pager = delta

[interactive]
    diffFilter = delta --color-only
[add.interactive]
    useBuiltin = false # required for git 2.37.0

[delta]
    navigate = true    # use n and N to move between diff sections
    light = false      # set to true if you're in a terminal w/ a light background color (e.g. the default macOS terminal)

[merge]
    conflictstyle = zdiff3

[rerere]
	enabled = true
[blame]
	ignoreRevsFile = .git-blame-ignore-revs
[branch]
	sort = -committerdate
[tag]
	sort = -taggerdate
[log]
	date = iso
